<%- include('../incloudes/head.ejs') %>
<!-- -------------------- navbar section start ------------------------- -->
<%- include('../incloudes/navbar.ejs') %>
<!-- -------------------- navbar section end ------------------------- -->
    <section id="main_signUp">
        <div class="card">
            <div class="icon">
                <img src="/images/Launching 1.png" alt="Launching">
            </div>
            <h1><%= title %></h1>
            <p>You are welcome!</p>
            <form action="/auth/signUp" method="post" class="userForm">
                <label for="name">Your name</label>
                <div class="name_inp">
                    <div class="firstName">
                        <input required="true" name="firstName" type="text" id="name" placeholder="First name " class="form-control <%= error.firstName ? 'is-invalid' : '' %> " >
                        <% if (!error.firstName) { %>
                          <i class="fa-regular user_icon fa-user"></i>
                        <% } %>
                        <div class="validate_input invalid-feedback">
                          <%= error.firstName && error.firstName %>
                        </div>
                    </div>
                    <div class="lastName">
                        <input required="true" name="lastName" type="text" placeholder="Last name"  class="form-control <%= error.lastName ? 'is-invalid' : '' %> " >
                        <% if (!error.lastName) { %>
                          <i class="fa-regular user_icon fa-user"></i>
                        <% } %>
                        <div class="validate_input invalid-feedback">
                          <%= error.lastName && error.lastName %>
                        </div>
                    </div>
                </div>
                <label for="email">E-mail</label>
                <div class="email_inp">
                    <input required="true" name="email" type="email" id="email" placeholder="Email"  class="myInput form-control <%= error.email ? 'is-invalid' : '' %> " >
                    <% if (!error.email) { %>
                      <i class="fa fa-solid email_icon fa-envelope my_icon"></i>
                    <% } %>
                    <div class="validate_input invalid-feedback">
                      <%= error.email && error.email %>
                    </div>
                </div>
                <label for="phone">Phone numbers</label>
                <div class="phone_inp">
                    <input required="true" class="myInput" name="phone" type="text" id="phone" placeholder="(+01)"  class="form-control <%= error.phone ? 'is-invalid' : '' %> " >
                    <% if (!error.phone) { %>
                      <i class="fa-solid phone_icon fa-phone my_icon"></i>
                    <% } %>
                    <div class="validate_input invalid-feedback">
                      <%= error.phone && error.phone %>
                    </div>
                </div>
                <label for="password">Password</label>
                <div class="password_inp">
                    <input required="true" name="password" type="password" id="password" placeholder="Password" class="myInput form-control <%= error.password ? 'is-invalid' : '' %>" >
                    <% if (!error.password) { %>
                      <i class="fa password_icon fa-solid fa-eye my_icon"></i>
                    <% } %>
                    <div class="validate_input invalid-feedback">
                      <% error.password && error.password %>
                    </div>
                </div>
                <label for="confirm_password">Confirm Password</label>
                <div class="confirm_password_inp">
                    <input required="true" name="confirm_password" type="password" id="confirm_password" placeholder="Confirm password" class="myInput form-control <%= error.confirm_password ? 'is-invalid' : '' %>" >
                    <% if (!error.confirm_password) { %>
                      <i class="fa confirm_password_icon fa-solid fa-eye my_icon"></i>
                    <% } %>
                    <div class="validate_input invalid-feedback">
                      <%= error.confirm_password && error.confirm_password %>
                    </div>
                  </div>
                <input class="signUpbtn" type="submit" value="Sign up">
                <div class="check_box">
                    <input required type="checkbox" name="check" id="check">
                    <label for="check">I agree with terms & conditions</label>
                </div>
                <div class="loginWitScAcc">
                    <a class="google_icon my_btn" href="#"><img src="/images/image 157.png" alt="google_icon">Google account</a>
                    <a class="my_btn" href="#"><span> <i class="fa-brands fa-facebook"></i> </span> Facebook account</a>
                </div>
                <p>Already have an account?<a href="/auth/signIn">Sign in</a></p>
            </form>
        </div>
    </section>
    <%- include('../incloudes/footer.ejs') %>
